<nav class="navbar bg-base-100 shadow-sm px-4">

    <div class="flex-1">
        <a class="text-2xl font-bold text-primary">
            College Hub
        </a>
    </div>

    <div class="hidden md:flex gap-4">

        <a class="btn btn-ghost">
            Home
        </a>

        <a class="btn btn-ghost">
            Resources
        </a>

        <a class="btn btn-ghost">
            Upload
        </a>

        <a class="btn btn-primary">
            Login
        </a>

    </div>

</nav>