<nav class="sticky top-0 z-50 backdrop-blur-xl bg-slate-900/80 border-b border-slate-800">
<div class="max-w-7xl mx-auto px-6">

    <div class="navbar">

        <div class="flex-1">

            <a href="/">

<div class="flex items-center gap-3">

    <div
        class="w-10 h-10 rounded-xl bg-gradient-to-r from-emerald-400 to-teal-500 flex items-center justify-center text-black font-bold">

        CH

    </div>

    <div>

        <h1 class="font-bold text-white">

            College Hub

        </h1>

        <p class="text-xs text-slate-400">

            Student OS

        </p>

    </div>

</div>


</a>

        </div>
        <input
class="input input-bordered rounded-full w-80"
placeholder="Search notes, PYQs..."
>

        <div class="hidden md:flex gap-2 items-center">

            <a href="/" class="btn btn-ghost">
                Resources
            </a>

            <a href="/" class="btn btn-ghost">
                Subjects
            </a>

            <a href="/" class="btn btn-ghost">
                Community
            </a>

        </div>

        <div class="flex gap-2 items-center">

            {% if user.is_authenticated %}

                <div class="badge badge-primary">
                    {{ user.username }}
                </div>

                <a href="{% url 'logout' %}"
                   class="btn btn-error btn-sm">

                    Logout

                </a>

            {% else %}

                <a href="{% url 'login' %}"
                   class="btn btn-ghost btn-sm">

                    Login

                </a>

                <a href="{% url 'register' %}"
                   class="btn btn-sm bg-emerald-400 text-black border-none hover:bg-emerald-300">

                    Get Started

                </a>

            {% endif %}

            <button
                id="theme-toggle"
                class="btn btn-circle btn-outline">

                🌙

            </button>

        </div>

    </div>

</div>

</nav>
