{% extends 'base.html' %}

{% block content %}

<div class="hero bg-base-100 rounded-2xl shadow-lg">

    <div class="hero-content text-center">

        <div>

            <h1 class="text-5xl font-bold">
                Welcome To College Hub
            </h1>

            <p class="py-6">
                Upload Notes, PYQs, Important Questions
                and help students learn better.
            </p>

            <button class="btn btn-primary">
                Upload Resource
            </button>

        </div>

    </div>

</div>

{% endblock %}